@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --swiper-theme-color: rgb(26, 26, 26, 0.6) !important;
  --accent-color:  #f27800;
  --modal-bg: #f27800;
}

button{
  font-size: 0.9rem;
  padding: 0.4rem 0.8rem;
  margin: 0 0.2rem 0.2rem 0;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

/* Swiper Slider */
.swiper{
  display: flex;
  width: 100% !important;
  height: 60vh !important;
}
.swiper-slide{
  width: 100% !important;
  height: 100% !important;
}
/* option form */
select{
  display: flex;
  flex: 1 0;
  width: 100%;
  padding: 0.5rem;  
  font-size: 0.95rem; 
  margin-bottom: 0.5rem;
}
/* fonts */
img {
      object-fit: contain;
      width: 100%;
}
h1{
      font-size: 1.1rem;
      font-weight: 900;
      text-transform: uppercase;
}

p {
      margin-top: 0;
}

ul{
      list-style: none;
      padding: 0;
}
.ReactModal__Overlay{
background-color: rgb(15 15 15 / 75%) !important;
}
